/*
* Meshki v1.5.1
* Copyright 2016-2017, Mohammad reza Hajianpour <hajianpour.mr@gmail.com>
* https://borderliner.github.io/Meshki/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General attributes */
table {
  border-spacing: 0px;
}

/* Padding and stuff for each cell */
th,
td {
  border-bottom: 1px solid #7C7C7C;
  padding: 12px 15px;
  text-align: left;
}

/* First and last children (most right and most left cells) do not need padding */
th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/* Stripped table! */
table.striped tr:nth-child(even) {
  background-color: #2F2F2F;
}

/* Centerizes the texts inside each cell */
table.centerize > thead th,
table.centerize > tbody td {
  text-align: center;
}

/* Hover effect activated for each row */
table.hover > tbody tr {
  transition: background-color 0.3s;
}

/* Changes color when the mouse is over each row */
table.hover > tbody tr:hover {
  background-color: #404040;
}
