/*
* Meshki v1.5.0
* Copyright 2016-2017, Mohammad reza Hajianpour <hajianpour.mr@gmail.com>
* https://borderliner.github.io/Meshki/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Utility
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Make element full width */
.expand {
  width: 100%;
  box-sizing: border-box;
}

/* Make sure elements don't run outside containers (great for images in columns) */
.responsive {
  max-width: 100%;
  box-sizing: border-box;
}

/* Float either direction */
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/* Center an element */
.centerize {
  margin-left: auto;
  margin-right: auto;
}

/* Center a text */
.text-center {
  text-align: center;
}

/* Vertical line */
.vertical-line {
  border-left: 1px solid #E1E1E1;
}

/* Hides the element on mobiles and phablets */
@media (max-width: 544px) {
  .hide-on-mobile {
    display: none !important;
  }

  .vertical-line {
    border-left: none;
  }
}

/* Hides the element on tablets and smaller */
@media (max-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }
}

/* Hides the element on desktops */
@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}

/* Hides the element on non-mobile and non-phablets */
@media (min-width: 544px) {
  .hide-on-non-mobile {
    display: none !important;
  }
}
