$background-color:                 #222;
$text-color:                       #e1e1e1;
$text-selection-color:             #15acee;
$white-color:                      $text-color;
$transparent-color:                rgba(0, 0, 0, 0);

$button-color-simple:              $text-color;
$button-color-blue:                #55acee;
$button-color-green:               #2ecc71;
$button-color-red:                 #e74c3c;
$button-color-orange:              #e67e22;

$link-color-default:               $button-default-color;
$link-color-hover:                 #74c1fb;

$sidenav-lines-color:              #818181;
