// Buttons
$button-small-size:                1.2rem;
$button-medium-size:               1.6rem;
$button-large-size:                2.2rem;

// Sidenav
$sidenav-width:                    250px;
$sidenav-animation-duration:       .5s;

// Misc.
$other-animation-duration:         .3s;
