$content-max-width:      960px;
$content-width-mobile:   100%;
$content-width-phablet:  85%;
$content-width-tablet:   80%;

$media-mobile:             400px;
$media-phablet:            544px;
$media-tablet:             768px;
$media-desktop:            992px;
$media-desktop-hd:         1200px;

$col-margin: 4%;
