$container-max-width:      960px;
$container-width-mobile:   100%;
$container-width-phablet:  85%;
$container-width-tablet:   80%;

$media-mobile:             400px;
$media-phablet:            544px;
$media-tablet:             768px;
$media-desktop:            992px;
$media-desktop-hd:         1200px;
