i.fa {
  font-size: 5rem;
  margin-bottom: 20px;
}

div.share-links {
  display: -webkit-flex;
  display: -moz-box;
  display: inline-flex;
}

div.share-links i.fa {
  font-size: 4rem;
}

.title {
  font-size: 7rem;
}

.column, .columns {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.container {
  padding-top: 25px;
}

.grid-table div div {
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #222;
  background-color: #E0E0E0;
}

.heading-font-size {
  font-size: 1.2rem;
  color: #959595;
  letter-spacing: 1px;
  vertical-align: middle;
}

.custom-text-right {
  text-align: center;
}

#cdn {
  display: none;
}

.custom-love {
  font-size: 1.7rem !important;
  color: #E74C3C;
  transition: color 0.3s;
}

.custom-love:hover {
  color: #D01129;
}

.custom-love:active {
  color: #80180D;
}

.custom-down-cdn {
  width: 100%;
  max-width: 300px;
}

@media (min-width: 544px) {
  .custom-text-right {
    text-align: right;
  }
}
