@use "../base/colors";

// Single code, default style
code {
  background-color: transparent;
  border: 1px colors.$text-color solid;
  border-radius: 5px;
  color: colors.$text-color;
  font-size: 90%;
  padding: 1px 5px;
  white-space: nowrap;

  // Single code, filled style
  &.filled {
    background-color: colors.$text-color;
    color: colors.$meshki-black;
  }
}

// pre is used for a block of code
pre {
  background-color: transparent;
  border: 2px colors.$text-color solid;
  border-radius: 5px;
  color: colors.$text-color;
  overflow-x: auto;
  white-space: pre-wrap; // preserve formatting; 'normal' collapsed it

  // Filled mode for blocks of code
  &.filled {
    background-color: colors.$text-color;
    color: colors.$meshki-black;

    // If the code is the immediate child of pre with filled mode
    & > code {
      background-color: colors.$text-color;
      color: colors.$meshki-black;
    }
  }
}

// If the code is the immediate child of pre
pre > code {
  border: 0;
  display: inline;
  overflow: auto;
  white-space: pre;
}
