// The footer tag, or a div with footer (Useful for IE)
footer,
.footer {
  background-color: $footer-color-background;
  border-top: 2px solid $text-color;
  margin: 25px 0 0;
  max-width: 100%;
  padding: 25px 50px 0;
  text-align: center;

  // Remove bottom margins of columns
  // Remove bottom margin of .row for footer, it takes lots of space
  .col,
  .row {
    margin-bottom: 0px;
  }

}

// Align the text of the footer to the left for non-mobile
@media (min-width: $media-phablet) {
  footer,
  .footer {
    text-align: left;
  }
}
