// The footer tag, or a div with footer (Useful for IE)
footer,
.footer {
  background-color: $footer-color-background;
  border-top: 2px solid $text-color;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  text-align: center;

  &.fixed {
    position: fixed;
  }

  // Remove bottom margins of columns
  // Remove bottom margin of .row for footer, it takes lots of space
  .col,
  .row {
    margin-bottom: 0;
  }
}

// Align the text of the footer to the left for non-mobile
@media (min-width: $media-phablet) {
  footer,
  .footer {
    text-align: left;
  }
}
