// Base Colors //================================
$meshki-black:                     #222 !default;
$meshki-black-darker:              #1a1a1a !default;
$background-color:                 $meshki-black !default;
$transparent-color:                rgba(0, 0, 0, 0) !default;
$normal-black:                     #000 !default;
$white:                            #fff !default;

// Typography
$text-color:                       #e1e1e1 !default;
$text-selection-color:             #15acee !default;

// Scrollbar Colors //================================
$scrollbar-color-bg:               #000 !default;
$scrollbar-color-front:            #bebebe !default;
$scrollbar-color-hover:            $text-color !default;
