// Base Colors //================================
$background-color:                 #222;
$transparent-color:                rgba(0, 0, 0, 0);
$meshki-black:                     #222;
$normal-black:                     #000;
$white:                            #fff;

// Typography
$text-color:                       #e1e1e1;
$text-selection-color:             #15acee;

// Scrollbar Colors //================================
$scrollbar-color-bg:               #000;
$scrollbar-color-front:            #bebebe;
$scrollbar-color-hover:            $text-color;
