@use 'colors';

// General scrollbar color
html, body, .container, .content {
  /* Works on Firefox */
  scrollbar-width: auto;
  scrollbar-color: colors.$scrollbar-color-front colors.$background-color;

  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
      width: 8px;
  }

  &::-webkit-scrollbar-track {
      background: colors.$background-color;
  }

  &::-webkit-scrollbar-thumb {
      background-color: colors.$scrollbar-color-front;
      border-radius: 8px;
      border: 3px solid colors.$scrollbar-color-bg;
      background-clip: padding-box;
  }
}

.sidenav {
  /* Works on Firefox */
  scrollbar-width: auto;
  scrollbar-color: colors.$scrollbar-color-front colors.$scrollbar-color-bg;

  &:hover {
    scrollbar-color: colors.$scrollbar-color-hover colors.$scrollbar-color-bg;
  }

  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: colors.$scrollbar-color-bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$scrollbar-color-front;
    border-radius: 8px;
    border: 3px solid colors.$scrollbar-color-bg;
  }
}
