.logo i.far,
.logo i.fas,
.logo i.fa-brands {
  padding-right: unset;
  padding-left: 8px;
}

.title {
  font-size: inherit;
  width: 40vmax;
}

a {
  text-decoration: none;
}

.content {
  padding-top: 140px;
}

.custom-down-cdn span {
  font-size: 1.7rem;
}

.celebration {
  text-align: right;
}
