.logo i.far,
.logo i.fas,
.logo i.fa-brands {
  padding-right: unset;
  padding-left: 8px;
}

.title {
  display: block;
  font-size: 12vmax;
  padding-bottom: 10px;
  padding-top: 4vw;
}

a {
  text-decoration: none;
}

.content {
  padding-top: 140px;
}

.custom-down-cdn span {
  font-size: 1.7rem;
}

.celebration {
  text-align: right;
}

@media (max-width: 768px) {
  .celebration {
    text-align: center;
  }
}

.modal-close-btn {
  right: unset;
  left: 10px;
  padding: 5px 10px 0px 10px;
}