// Layout variables
$content-max-width:      960px !default;
$content-width-mobile:   100% !default;
$content-width-phablet:  85% !default;
$content-width-tablet:   80% !default;

$media-mobile:             400px !default;
$media-phablet:            544px !default;
$media-tablet:             768px !default;
$media-desktop:            992px !default;
$media-desktop-hd:         1200px !default;

$col-margin: 4% !default;
