@use "../utils/functions/layout" as layout2;
@use "../utils/mixins/layout";
@use "variables";

/*******************************
            Grid Layout
  *******************************/
// Center the row, used to hold columns
.row {
  @include layout.centerize;
  display: block;
  margin-bottom: 10px;
}

// Columns fill their parent from the left side
.col {
  box-sizing: border-box;
  float: left;
  width: 100%;
}

// Decrease the content width for non-mobiles
@media (min-width: variables.$media-mobile) {
  .content {
    padding-left: 0;
    padding-right: 0;
    width: variables.$content-width-phablet;
  }
}

// For devices larger than 544px
@media (min-width: variables.$media-phablet) {
  // Decrease content width for a proper look
  .content {
    width: variables.$content-width-tablet;
  }

  // Left margin for columns so they do not collide
  .col {
    margin-left: variables.$col-margin;

    // The first column doesn't need left margin
    &:first-child {
      margin-left: 0;
    }

    // 12-based columns
    &.one    { width: layout2.column-width(1);  }
    &.two    { width: layout2.column-width(2);  }
    &.three  { width: layout2.column-width(3);  }
    &.four   { width: layout2.column-width(4);  }
    &.five   { width: layout2.column-width(5);  }
    &.six    { width: layout2.column-width(6);  }
    &.seven  { width: layout2.column-width(7);  }
    &.eight  { width: layout2.column-width(8);  }
    &.nine   { width: layout2.column-width(9);  }
    &.ten    { width: layout2.column-width(10); }
    &.eleven { width: layout2.column-width(11); }

    // Fill the row, with no margin on the left
    &.twelve {
      margin-left: 0;
      width: 100%;
    }

    // Proportional columns
    &.one-third  { width: layout2.column-width(4); }

    &.two-third,
    &.two-thirds {
      width: layout2.column-width(8);
    }

    // Half of the container columns
    &.half,
    &.one-half   {
      width: layout2.column-width(6);
    }

    // Offsets
    &.offset-by-one    { margin-left: layout2.offset-column-margin(1);  }
    &.offset-by-two    { margin-left: layout2.offset-column-margin(2);  }
    &.offset-by-three  { margin-left: layout2.offset-column-margin(3);  }
    &.offset-by-four   { margin-left: layout2.offset-column-margin(4);  }
    &.offset-by-five   { margin-left: layout2.offset-column-margin(5);  }
    &.offset-by-six    { margin-left: layout2.offset-column-margin(6);  }
    &.offset-by-seven  { margin-left: layout2.offset-column-margin(7);  }
    &.offset-by-eight  { margin-left: layout2.offset-column-margin(8);  }
    &.offset-by-nine   { margin-left: layout2.offset-column-margin(9);  }
    &.offset-by-ten    { margin-left: layout2.offset-column-margin(10); }
    &.offset-by-eleven { margin-left: layout2.offset-column-margin(11); }

    // Proportional Offsets
    &.offset-by-one-third  { margin-left: layout2.offset-column-margin(4); }

    &.offset-by-two-third,
    &.offset-by-two-thirds {
      margin-left: layout2.offset-column-margin(8);
    }

    // Half of the container as offset
    &.offset-by-half,
    &.offset-by-one-half   {
      margin-left: layout2.offset-column-margin(6);
    }
  }
}
