/*
* Meshki v0.4.0
* Copyright 2016, Mohammad reza Hajianpour
* http://borderliner.ir/meshki
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  font-size: 90%;
  white-space: nowrap;
  background-color: #E1E1E1;
  border: #E1E1E1 solid 1px;
  border-radius: 5px;
  color: #000;
  padding: 1px 5px 1px 5px;
}

code.glass {
  background-color: transparent;
  color: #E1E1E1;
}

pre {
  background-color: #E1E1E1;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  color: #000;
  overflow-x: auto;
}

pre.glass {
  background-color: transparent;
  color: #E1E1E1;
}

pre > code {
  display: inline;
  white-space: pre;
}

pre.glass > code {
  background-color: transparent;
  color: #E1E1E1;
  border: none;
}