/*
* Meshki v0.4.1
* Copyright 2016, Mohammad reza Hajianpour
* http://borderliner.ir/meshki
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Single code, default style */
code {
  font-size: 90%;
  white-space: nowrap;
  background-color: #E1E1E1;
  color: #000;
  border: #E1E1E1 solid 1px;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
}

/* Single code, glass style */
code.glass {
  background-color: transparent;
  color: #E1E1E1;
}

/* pre is used for a block of code */
pre {
  background-color: #E1E1E1;
  color: #000;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  overflow-x: auto;
}

/* Glass mode for blocks of code */
pre.glass {
  background-color: transparent;
  color: #E1E1E1;
}

/* If the code is the immediate child of pre */
pre > code {
  display: inline;
  white-space: pre;
}

/* If the code is the immediate child of pre with glass mode */
pre.glass > code {
  background-color: transparent;
  color: #E1E1E1;
  border: none;
}