/*
* Meshki V1.0.0
* Copyright 2016, Qolak Team
* www.qolak.com/meshki
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
div.code {
  background-color: #E1E1E1;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  color: #000;
}
div.code.glass {
  background-color: transparent;
  color: #E1E1E1;
}
code {
  font-size: 90%;
  white-space: nowrap;
}
pre > code {
  display: block;
  white-space: pre; }
