/*
* Meshki v1.2.4
* Copyright 2016, Mohammad reza Hajianpour <me@borderliner.ir>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General attributes */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  background-color: #E0E0E0;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  box-sizing: border-box;
  transition: border .3s, background-color .3s, box-shadow .3s;
}

/* Dim the form elements when they're disabled */
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
textarea:disabled,
select:disabled {
  background-color: #B1B1B1;
  color: #303030;
  border-color: #B1B1B1;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Firefox outline bug */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* Dropdown arrow for everyone! */
select {
  outline: 0 !important;
  background: url("data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDAwMDAiLz4KICA8L2c+Cjwvc3ZnPgo=") no-repeat;
  background-color: #E1E1E1;
  background-position: 98% 50%;
}

textarea {
  min-height: 65px;
  padding: 6px 10px;
}

/* Blue light animation when the form elements get focus */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  background-color: #FFF;
  border: 1px solid #33BBF0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
  outline: 0 !important;
}

/* Label and Legend normalization */
label,
legend {
  font-weight: normal;
  display: block;
  margin-bottom: .5rem;
}

/* Fieldset normalization */
fieldset {
  border-width: 0;
  padding: 0;
}

/* Checkbox and Radio normalization */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

/* Round input, for every mood! */
input.round, textarea.round, button.round, .button.round {
  border-radius: 20px;
}

/* Checkboxes and Radio buttons */

/* Make the actual boxes invisible */
input[type="checkbox"], input[type="radio"] {
    position: absolute;
    opacity: 0;
}

/* Checkbox and radio normalization */
input[type="checkbox"], label.checkbox, input[type="radio"], label.radio {
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

/* Labels for checkboxes and radios have relative position to their parent */
label.checkbox, label.radio {
    position: relative;
}

/* General attributes for checkboxes and radio buttons */
input[type="checkbox"] + label.checkbox:before, input[type="radio"] + label.radio:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #E1E1E1;
    border-radius: 5px;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 3px;
    vertical-align: middle;
    text-align: center;
    transition: background-color .3s, box-shadow .3s;
}

/* Round shape for radio boxes */
input[type="radio"] + label.radio:before {
  border-radius: 20px;
}

/* When the checkbox is checked */
input[type="checkbox"]:checked + label.checkbox:before {
    background-color: #33BBF0;
}

/* When the radio button is checked */
input[type="radio"]:checked + label.radio:before {
    background-color: #33BBF0;
}

/* Remove outlines of checkboxes and radio buttons, especially for Firefox */
input[type="checkbox"]:focus + label.checkbox, input[type="radio"]:focus + label.radio {
  outline: none !important;
}
