/*
* Meshki v1.3.2
* Copyright 2016, Mohammad reza Hajianpour <hajianpour.mr@gmail.com>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Center the row, used to hold columns */
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Container creates a responsive space to hold page data */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Columns fill their parent from the left side */
.col {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* Decrease the container width for non-mobiles */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 544px */
@media (min-width: 544px) {
  /* Decrease container width for a proper look */
  .container {
    width: 80%;
  }

  /* Left margin for columns so they do not collide */
  .col {
    margin-left: 4%;
  }

  /* The first column doesn't need left margin */
  .col:first-child {
    margin-left: 0;
  }

  .one.col                    { width: 4.66666666667%; }
  .two.col                    { width: 13.3333333333%; }
  .three.col                  { width: 22%;            }
  .four.col                   { width: 30.6666666667%; }
  .five.col                   { width: 39.3333333333%; }
  .six.col                    { width: 48%;            }
  .seven.col                  { width: 56.6666666667%; }
  .eight.col                  { width: 65.3333333333%; }
  .nine.col                   { width: 74%;            }
  .ten.col                    { width: 82.6666666667%; }
  .eleven.col                 { width: 91.3333333333%; }
  /* Fill the row, with no margin on the left */
  .twelve.col                 { width: 100%; margin-left: 0; }

  /* Proportional columns */
  .one-third.col,
  .one.third.col,              { width: 30.6666666667%; }
  .two-thirds.col,
  .two.thirds.col              { width: 65.3333333333%; }

  /* Half of the container columns */
  .one-half.col,
  .one.half.col                { width: 48%; }

  /* Offsets */
  .offset-by-one.col          { margin-left: 8.66666666667%; }
  .offset-by-two.col          { margin-left: 17.3333333333%; }
  .offset-by-three.col        { margin-left: 26%;            }
  .offset-by-four.col         { margin-left: 34.6666666667%; }
  .offset-by-five.col         { margin-left: 43.3333333333%; }
  .offset-by-six.col          { margin-left: 52%;            }
  .offset-by-seven.col        { margin-left: 60.6666666667%; }
  .offset-by-eight.col        { margin-left: 69.3333333333%; }
  .offset-by-nine.col         { margin-left: 78.0%;          }
  .offset-by-ten.col          { margin-left: 86.6666666667%; }
  .offset-by-eleven.col       { margin-left: 95.3333333333%; }

  .offset-by-one-third.col    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.col   { margin-left: 69.3333333333%; }

  .offset-by-one-half.col     { margin-left: 52%; }
}
