/*
* Meshki v1.3.2
* Copyright 2016, Mohammad reza Hajianpour <hajianpour.mr@gmail.com>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Center the row, used to hold columns */
.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* Container creates a responsive space to hold page data */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Columns fill their parent from the left side */
.one, .two, .three, .four, .five,
.six, .seven, .eight, .nine,
.ten, .eleven, .twelve {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* Decrease the container width for non-mobiles */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 544px */
@media (min-width: 544px) {
  /* Decrease container width for a proper look */
  .container {
    width: 80%;
  }

  /* Left margin for columns so they do not collide */
  .one, .two, .three, .four, .five,
  .six, .seven, .eight, .nine,
  .ten, .eleven, .twelve {
    margin-left: 4%;
  }

  /* The first column doesn't need left margin */
  .one:first-child, .two:first-child, .three:first-child, .four:first-child,
  .five:first-child, .six:first-child, .seven:first-child, .eight:first-child,
  .nine:first-child, .ten:first-child, .eleven:first-child,
  .twelve:first-child {
    margin-left: 0;
  }

  .one                    { width: 4.66666666667%; }
  .two                    { width: 13.3333333333%; }
  .three                  { width: 22%;            }
  .four                   { width: 30.6666666667%; }
  .five                   { width: 39.3333333333%; }
  .six                    { width: 48%;            }
  .seven                  { width: 56.6666666667%; }
  .eight                  { width: 65.3333333333%; }
  .nine                   { width: 74%;            }
  .ten                    { width: 82.6666666667%; }
  .eleven                 { width: 91.3333333333%; }
  /* Fill the row, with no margin on the left */
  .twelve                 { width: 100%; margin-left: 0; }

  /* Proportional columns */
  .one-third,
  .one.third,              { width: 30.6666666667%; }
  .two-thirds,
  .two.thirds              { width: 65.3333333333%; }

  /* Half of the container columns */
  .one-half,
  .one.half                { width: 48%; }

  /* Offsets */
  .offset-by-one          { margin-left: 8.66666666667%; }
  .offset-by-two          { margin-left: 17.3333333333%; }
  .offset-by-three        { margin-left: 26%;            }
  .offset-by-four         { margin-left: 34.6666666667%; }
  .offset-by-five         { margin-left: 43.3333333333%; }
  .offset-by-six          { margin-left: 52%;            }
  .offset-by-seven        { margin-left: 60.6666666667%; }
  .offset-by-eight        { margin-left: 69.3333333333%; }
  .offset-by-nine         { margin-left: 78.0%;          }
  .offset-by-ten          { margin-left: 86.6666666667%; }
  .offset-by-eleven       { margin-left: 95.3333333333%; }

  .offset-by-one-third    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds   { margin-left: 69.3333333333%; }

  .offset-by-one-half     { margin-left: 52%; }
}
