/*
* Meshki v0.4.1
* Copyright 2016, Mohammad reza Hajianpour
* http://borderliner.ir/meshki
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }
