/*
* Meshki v1.4.0
* Copyright 2016, Mohammad reza Hajianpour <hajianpour.mr@gmail.com>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Unordered Lists have empty disc style */
ul {
  list-style: disc;
}

/* Ordered Lists have numerical style */
ol {
  list-style: decimal;
}

/* Change the style of nested lists */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

/* Lists have bottom margin */
li {
  margin-bottom: 1rem;
}
