/*
* Meshki v0.4.1
* Copyright 2016, Mohammad reza Hajianpour
* http://borderliner.ir/meshki
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Links
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway-Regular.ttf');
}

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 1.6em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #E0E0E0;
  height: 100%;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: rgb(60, 216, 255); }
a:hover {
  color: #59B8FF; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 544px) {}

/* Larger than tablet */
@media (min-width: 768px) {}

/* Larger than desktop */
@media (min-width: 992px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
