/*
* Meshki v0.5.2
* Copyright 2016, Mohammad reza Hajianpour <me@borderliner.ir>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Info
--------------------------------------------------
  Meshki has some default properties, like default text colors and the specific black
color of the background. All these properties are set here to help the developer
create a more consistent add-on components that can match the default properties of
Meshki. Since CSS does not support variables like Sass and LESS, I am
providing you the values here directly. Here you go:

- $default-font-family:              'Ubuntu';
- $default-font-weight:              400;
- $container-max-width:              960px;
- $container-width-mobile:           100%;
- $container-width-phablet:          85%;
- $container-width-tablet:           80%;

- $media-mobile:                     400px;
- $media-phablet:                    544px;
- $media-tablet:                     768px;
- $media-desktop:                    992px;
- $media-desktop-hd:                 1200px;

- $background-color:                 #222;
- $text-color:                       #E1E1E1;
- $default-white-color:              $text-color;
- $button-simple-color:              $text-color;
- $button-default-color:             #55ACEE;
- $button-success-color:             #2ECC71;
- $button-danger-color:              #E74C3C;
- $button-warning-color:             #E67E22;
- $link-default-color:               $button-default-color;
- $link-hover-color:                 #74C1FB;

- $button-small-size:                1.2rem;
- $button-medium-size:               1.6rem;
- $button-large-size:                2.2rem;

- $sidenav-width:                    250px;
- $sidenav-animation-duration:       0.5s;

- $other-animation-duration:         0.3s;

- $one-column-width:                 4.66666666667%;
- $two-columns-width:                13.3333333333%;
- $three-columns-width:              22%;
- $four-columns-width:               30.6666666667%;
- $five-columns-width:               39.3333333333%;
- $six-columns-width:                48%;
- $seven-columns-width:              56.6666666667%;
- $eight-columns-width:              65.3333333333%;
- $nine-columns-width:               74%;
- $ten-columns-width:                82.6666666667%;
- $eleven-columns-width:             91.3333333333%;
- $twelve-columns-width:             100%;
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Links
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default font face for Meshki */
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  height: 100%;
}

/* General attributes of the body tag */
body {
  font-size: 1.6rem;
  height: 100%;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #E1E1E1;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Nice blue for links */
a {
  color: #55acee;
}

a:hover {
  color: #74C1FB;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Default <hr> tag */
hr {
  border-width: 0;
  border-top: 1px solid #E1E1E1;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there. These media queries have been taken from Twitter's Bootstrap for
compatibility reasons.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 544px) {}

/* Larger than tablet */
@media (min-width: 768px) {}

/* Larger than desktop */
@media (min-width: 992px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
