/*
* Meshki v0.4.4
* Copyright 2016, Mohammad reza Hajianpour <me@borderliner.ir>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General attributes */
ul.nav {
  width: 100%;
  background-color: #222;
  border-bottom: 2px solid #E1E1E1;
  padding: 0;
  margin-top: 0px;
  list-style-type: none;
  overflow: hidden;
}

/* Fixed navbar's attributes */
ul.nav.fixed {
  position: fixed;
  z-index: 1;
}

/* Elements in the navbar start from the left side */
ul.nav li {
  float: left;
  margin-bottom: 0px;
}

/* Anchors inside lists' attributes */
ul.nav li a {
  display: block;
  color: #E1E1E1;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Logo of the website, it must be the first child of navbar*/
ul.nav li:first-child a.logo {
  background-color: #E1E1E1;
  color: black;
}

/* Lighten the logo when the mouse is over it */
ul.nav li:first-child a.logo:hover {
  background-color: #EAEAEA;
  color: black;
}

/**
 * Change the link color to #111 (black) on hover
 * Only direct children are affected, which means it excludes dropdowns
 */
ul.nav li > a:hover {
  background-color: #111;
}

/* Send the elements to the right side with nav-right */
ul.nav li.nav-right {
  position: inherit;
  top: 7px;
  right: 16px;
  float: right !important;
}

/* Navigation Dropdown Button */
li.nav-dropdown {
    display: inline-block;
}

/* Dropdown content attributes */
ul.nav .nav-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #111;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* If the navbar is a fixed one, so is it's position */
ul.nav.fixed .nav-dropdown-content {
  position: fixed;
}

/* Each link in dropdown's content */
.nav-dropdown-content a {
  display: block;
  color: #E1E1E1;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

/* When the mouse is on each option */
.nav-dropdown-content a:hover {
  background-color: #444;
}

/* When the dropdown is open, change the color of dropdown's button */
.nav-dropdown:hover .nav-dropdown-button {
  background-color: #111;
}

/* Display the content when the mouse is on dropdown's button */
.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}