/*
* Meshki v1.3.3
* Copyright 2016, Mohammad reza Hajianpour <hajianpour.mr@gmail.com>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* General attributes */
nav ul,
.nav ul {
  width: 100%;
  background-color: #222;
  border-bottom: 2px solid #E1E1E1;
  padding: 0;
  margin-top: 0px;
  list-style-type: none;
  overflow: hidden;
  z-index: 1;
}

/* Fixed Navbar properties */
nav.fixed,
.nav.fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Elements in the navbar start from the left side */
nav ul li,
.nav ul li {
  float: left;
  margin-bottom: 0px;
}

/* Anchors inside lists' attributes */
nav ul li > a,
.nav ul li > a {
  display: inline-block;
  color: #E1E1E1;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
}

/* Buttons positioning on navbar */
nav ul li > a.button,
nav ul li > button,
nav ul li > input,
.nav ul li > a.button,
.nav ul li > button,
.nav ul li > input {
margin: 7px 5px auto 5px !important;
}

/* Active navbar button */
nav ul li > a.active,
.nav ul li > a.active {
  background-color: #111;
}

/* Logo of the website, it must be the first child of navbar*/
nav ul li:first-child a.logo,
.nav ul li:first-child a.logo {
  background-color: #E1E1E1;
  color: black;
}

/* Lighten the logo when the mouse is over it */
nav ul li:first-child a.logo:hover,
.nav ul li:first-child a.logo:hover {
  background-color: #F5F5F5;
  color: black;
}

/**
 * Change the link color to #111 (black) on hover
 * Only direct children are affected, which means it excludes dropdowns
 */
nav ul li > a:hover,
.nav ul li > a:hover {
  background-color: #111;
}

/* Send the elements to the right side with nav-right */
li.nav-right {
  position: inherit;
  float: right !important;
}

/* Send the elements to the left side with nav-left */
li.nav-left {
  position: inherit;
  float: left !important;
}

/* Fix for #2 issue, where nav-dropdown-content would go off the screen. */
li.nav-dropdown.nav-right .nav-dropdown-content {
  right: 0;
}

li.nav-dropdown.nav-right ~ .nav-dropdown .nav-dropdown-content {
  right: auto;
}

/* Navigation Dropdown Button */
li.nav-dropdown {
  display: inline-block;
}

/* Dropdown content attributes */
.nav-dropdown-content {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  min-width: 160px;
  background-color: #111;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: visibility .2s, opacity .2s ease-in-out;
}

/* Each link in dropdown's content */
.nav-dropdown-content a {
  display: block;
  color: #E1E1E1;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
}

/* When the mouse is on each option */
.nav-dropdown-content a:hover {
  background-color: #444;
}

/* When the dropdown is open, change the color of dropdown's button */
.nav-dropdown:hover .nav-dropdown-button {
  background-color: #111;
}

/* Display the content when the mouse is on dropdown's button */
.nav-dropdown:hover .nav-dropdown-content {
  visibility: visible;
  opacity: 1;
}
