/*
* Meshki v1.2.3
* Copyright 2016, Mohammad reza Hajianpour <me@borderliner.ir>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

body {
  direction: rtl;
  font-family: "P Yekan", "Open Sans", sans-serif;
}

button, input, optgroup, select, textarea {
  font-family: "P Yekan", "Open Sans", sans-serif;
}

.column, .columns {
  float: right;
}

@media (min-width: 544px) {
  .column:first-child, .columns:first-child {
    margin-right: 0;
    margin-left: auto;
  }

  .column, .columns {
    margin-right: 4%;
  }
}

.nav ul li {
  float: right;
  margin-bottom: 0px;
}

/* Logo of the website, it must be the first child of navbar*/
.nav ul li:first-child a.logo i {
  color: black;
}

.sidenav {
  right: -1px;
  border-left: 1px solid #818181;
}

.sidenav a {
  padding: 8px 32px 8px 8px;
}

.sidenav-close-button {
  right: auto;
  left: 0;
  padding-right: 0 !important;
  padding-left: 30px !important;
}

.button-couple button:not(:first-child):not(:last-child),
.button-couple a:not(:first-child):not(:last-child) {
  pointer-events: none;
  border-style: none;
  border-radius: 0;
  display: block;
  margin: -5px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 768px) {
  .button-couple button:first-child,
  .button-couple a:first-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0 !important;
    border-left-style: none;
    border-right-style: solid;
  }

  .button-couple button:not(:first-child):not(:last-child),
  .button-couple a:not(:first-child):not(:last-child) {
    border-style: solid;
    display: inline;
    margin: -9px !important;
  }

  .button-couple button:last-child,
  .button-couple a:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 0 !important;
    border-right-style: none;
    border-left-style: solid;
  }
}
