/*
* Meshki v1.2.3
* Copyright 2016, Mohammad reza Hajianpour <me@borderliner.ir>
* http://meshki.borderliner.ir/
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Sidenav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0; /* changes with meshki.js */
  position: fixed;
  z-index: 10; /* Stays on top of everything, unless a modal is implemented */
  top: 0;
  left: -1px;
  background-color: #111;
  padding-top: 15px;
  border-right: 1px solid #818181;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: inline;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity .5s, visibility .5s;
}

/* The navigation menu's links */
.sidenav a {
  display: block;
  font-size: 1.8rem;
  color: #818181;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  outline: 0 !important;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #E1E1E1;
}

/* No color change for disabled sidenav links */
.sidenav a[disabled] {
  cursor: default;
}

.sidenav a[disabled]:hover {
  pointer-events: none;
  color: #818181;
  cursor: default;
}

/* Special form of <hr> for sidenav */
.sidenav hr {
  width: 80%;
  border-color: #818181;
}

/* Position and style the close button (top right corner) */
.sidenav-close-button {
  font-size: 3.6rem !important;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px !important;
  outline: 0 !important;
}

/* Pushes the content div with effect */
.content {
  transition: margin-left .5s;
}

/* Change the style of the sidenav for non-mobiles */
@media (min-width: 544px) {
  .sidenav {
    padding-top: 60px;
  }

  .sidenav a {
    font-size: 25px;
  }
}
