/*
* Meshki v0.4.1
* Copyright 2016, Mohammad reza Hajianpour
* http://borderliner.ir/meshki
* Free to use under the MIT license.
* https://opensource.org/licenses/MIT
*/

/* Make element full width */
.expand {
  width: 100%;
  box-sizing: border-box;
}

/* Make sure elements don't run outside containers (great for images in columns) */
.expand-container {
  max-width: 100%;
  box-sizing: border-box;
}

/* Float either direction */
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/* Center an element */
.centerize {
  margin-left: auto;
  margin-right: auto;
}

/* Center a text */
.text-center {
  text-align: center;
}

@media (max-width: 544px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (min-width: 544px) {
  .hide-on-non-mobile {
    display: none !important;
  }
}
